#flagged-user-list {
	margin-top:0;
}
#flagged-user-list .left {
	text-align:left;
}
#flagged-user-list .right {
	text-align:right;
}
#edit-add-user-wrapper label {
	float:left;
	margin-right:5px;
}
#content-details .center {
	text-align:center;
}
.change-previous {
	background-color:#F4E5E5;
}
.warning {
	color:#E09010;
}
div.warning{
	margin-top:10px;
}